@page
@model OrderviewModel
@{
	ViewData["Title"] = "Bestellingen";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
	<thead>
		<tr>
			<th>bestel ID</th>
			<th>bestel datum</th>
			<th>klant Name</th>
			<th>bestelde producten</th>
		</tr>
</thead>
	@foreach (var order in Model.Orders)
	{
		<tr>
			<td>@Html.DisplayName(order.Id.ToString())</td>
			<td>@Html.DisplayName(order.OrderDate.ToString())</td>
			<td>@Html.DisplayName(order.Customer.Name.ToString())</td>
			<td>
				@foreach (var product in order.Products)
				{
					@Html.DisplayName(product.Name.ToString())
					<br />
				}
				
			</td>
		</tr>
	}

</table>

