@page
@model ProductenModel
@{
    if (Model.filter != "geen filters")
    {
        ViewData["Title"] = "Alle " + Model.filter;
    }


    else
    {
        ViewData["Title"] = "Alle producten";
    }
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-secondary" onclick="ToggleFilters()">Filters</button>
<div id="filters" style="display: none"> 
    <table class="table">
        <tbody>
            @foreach (var row in Model.Filters.Select((filter, index) => new { filter, index }).GroupBy(x => x.index/ 8))
            {
                <tr>
                    @foreach(var filters in row)
                    {
                        <td>
                            <button class="btn btn-secondary w-100" onclick="window.location.href='/producten?selectedFilter=@filters.filter'">@filters.filter</button>
                        </td>
					}
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
				<th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {

            <tr style="cursor:pointer" data-href="/producten pagina/@product.Id" onclick="location.href=this.dataset.href;" >
			    <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image)" alt="afbeelding van @product.Name" width="200px" /></td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <span style="white-space: nowrap">
                    <td>€&nbsp;@product.Price.ToString("N2", new System.Globalization.CultureInfo("nl-NL")).Replace(",00", ",-")</td>
                </span>
                <td><button class="btn btn-secondary">Bekijk het item</button></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function ToggleFilters()
    {
		container = document.getElementById("filters");
		if (container.style.display == "none") 
        {
			container.style.display = "block";
		} 
        
        else 
        {
			container.style.display = "none";
		}
	}
</script>