@page
@model winkelmandjeModel
@using System.Text.Json
@{
    ViewData["Title"] = "Winkelmandje";
}

<h1>@ViewData["Title"]</h1>

<div>
	<p>Hieronder staan de producten in uw winkelmandje:</p
</div>
<table id="producten" style="display: none">
  <thead>
    <tr>
      <th>Product</th>
      <th>Prijs</th>
      <th>Aantal</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.products)
    {
      <tr>
        <td>@item.productName</td>
        <td>@item.price.ToString("C").Replace(",00",",-")</td>
        <td>
          <form method="post" asp-page-handler="Decrease" style="display:inline;">
            @Html.AntiForgeryToken()
            <input type="hidden" name="productName" value="@item.productName" />
            <button type="submit">-</button>
          </form>
          <form method="post" asp-page-handler="ChangeAmount" style="display:inline;">
            @Html.AntiForgeryToken()
            <input type="hidden" name="productName" value="@item.productName" />
            <input type="number" name="amount" value="@item.quantity" min="1" onblur="this.form.submit()" />
          </form>
          <form method="post" asp-page-handler="Increase" style="display:inline;">
            @Html.AntiForgeryToken()
            <input type="hidden" name="productName" value="@item.productName" />
            <button type="submit">+</button>
          </form>
        </td>
        <td>
          <form method="post" asp-page-handler="Remove">
            @Html.AntiForgeryToken()
            <input type="hidden" name="productName" value="@item.productName" />
            <button type="submit">🗑 Remove</button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>
@if (ViewData["Message"] != null)
{
	<div>
		<p>@ViewData["Message"]</p>
	</div>
}
<h4 id="bedrag" style="display: none; margin-left: auto; width: fit-content;" >@Model.totalPrice.ToString().Replace("0,0",",-")</h4>
<h4>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <button class="btn btn-secondary" onclick="window.location.href='/filter'">naar winkelen</button>
        <button id="afrekenen" style="display: none" onclick="window.location.href = '/betaalstappen/stap1gegevens'" class="btn btn-secondary"> afrekenen</button>
    </di>
</h4>

<script>
    window.onload = function()
    {
        cart = @Html.Raw(Json.Serialize(Model.products))
        if (cart.length == 0)
        {
        }
        else {
            document.getElementById("afrekenen").style.display = "block";
            document.getElementById("producten").style.display = "block";
            document.getElementById("bedrag").style.display = "block";
        }
    }
</script>